.addInput {
    border: 2px solid green;
    width: 25%;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    height: 40px;
    border-right: none;
    text-align: center;
}

.addButton {
    background-color: green;
    color: white;
    height: 40px;
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border: none;
}

.addButton:hover {
    background-color: rgba(0, 128, 0, 0.717);

}